<h1>Your Cart</h1>
<ul>
  <% @products.each do |product| %>
   <li class="span3">
      <div class="thumbnail">
        
        <div class="caption">
        
          <p>Product Title<%= product.title %></p>
          <p>Price<%= product.price %></p>
          <p>Quantity <%= product.quantity %></p>

<br/>
</div>
</div>
</li>
<% end %>

<%= link_to "Back to main page", root_path %>
          
          <a class="btn btn-success" href="#">Remove from cart</a>
        </div>
      </div>
    </li>
  </ul>
  <a class="btn btn-success" href="#">Checkout</a>