
<h1>Your Cart</h1>
<ul>
   <li class="span3">
      <div class="thumbnail">
        <img src="holder.js/300x200" alt="">
        <div class="caption">
          <h4>product</h4>
          <p>title</p>
          <p>Price</p>
          <p>Quantity</p>
          <a class="btn btn-primary" href="#">View</a>
          <a class="btn btn-success" href="#">Remove from cart</a>
        </div>
      </div>
    </li>
  </ul>
  <a class="btn btn-success" href="#">Checkout</a>