/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Sirin+Stencil);

html, body {
    margin: 0;
    padding: 0;
}

body {

  width: 100%;
  background-color: #ffa667;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

}

.background-splash {
  width: 100%;
}

.hero-spacer {
    margin-top: 0px;
}

.hero-feature {
    margin-bottom: 30px;
}

.jumbotron {
  background-color: #C1EAC1;
  background: url("https://images.unsplash.com/photo-1444090542259-0af8fa96557e?fit=crop&fm=jpg&h=600&q=80&w=1400https://images.unsplash.com/photo-1444090542259-0af8fa96557e?fit=crop&fm=jpg&h=600&q=80&w=1400")no-repeat center center fixed;
  padding: 8.5em 8.6em;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  margin-top: 0px;
}



header {
  margin-top: 0px;
  padding-top: 0px;
  border:2px solid red;
}

.maintext {
  font-family: 'Sirin Stencil', cursive;
}
.newArrivals{
  font-family: 'Sirin Stencil', cursive;
}

.thumbnail {
  width: 75%;
  
  
}

.ghost-button {
  color: #00a243;
  background: white;
  opacity: 0.5;
  border: 1px solid #009688;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

.ghost-button:hover { 
    background-color: white;
    opacity:0.5;
}









