
.span3 {
  list-style-type: none;
}

.ordersh1 {
  font-family: 'Sirin Stencil', cursive;
  text-align: center;
}

.total {
 
  display: inline;
  font-family: 'Open Sans';
}

.align-center {
  display: inline;
  margin: 0 auto;
  margin-left: 60px;
}

/*li.span3 {
  display: 
}*/

.thumbnail {
  margin-right: 50px;
}